@font-face {
    font-family: "TTLakes";
    font-weight: 700;
    src: url(TTLakes-Bold.ttf) format("ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTLakes";
    font-weight: 400;
    src: url(TTLakes-Regular.ttf) format("ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {    
    font-family: "TTLakes";
    font-weight: 500;
    src: url(TTLakes-Medium.ttf) format("ttf");
    font-style: normal;
    font-display: swap;
}
