@font-face {
    font-family:"TTLakes";
    font-weight: 700;
    src: url(TTLakes-Bold.woff);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:"TTLakes";
    font-weight: 400;
    src: url(TTLakes-Regular.woff);
    font-style: normal;
    font-display: swap;
}

@font-face {    
    font-family:"TTLakes";
    font-weight: 500;
    src: url(TTLakes-Medium.woff);
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin: 0;
    font-family: TTLakes;
    background-color: #F8F8F8;
}

.center{
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}

header{
    background-color: white;
}

.menu-botton-list{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 0;
    align-items: center;

}

.menu-botton-box{
    display: flex;
    width: 40%;
    align-items: center;
    flex-wrap: nowrap;
}

.user-set{
    text-align: right;
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: nowrap;
}

.border-rigth{
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 10px;
}

.border-left{
    padding-left: 20px;
    padding-right: 15px;
}

.user-status{
    width: 15%;
    margin: 0;
    padding: 0;
}

.user-status__list{
    margin-left: 5px;
}


.user-set__list{
    margin-left: 5px;

}




.list{
    padding: 5px;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 30px;
}

.main-box{
    padding-top: 10px;
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f8f8f8;
}

.menu-list{
    display: flex;

    justify-content: space-between;
    overflow: scroll ;
}

.menu-list__brand{
    background-color: white;
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    margin-top: -2px;
}

.heading{
    font-size: 30px;
}

.heading::before{
    content: "ff";
    color: #41F6D7;
    display: block;
    background-color: #41F6D7;
    position: absolute;
    margin-left: -45px;
    border-radius: 10px;
}
.main-box__heading-line{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.heading-line-item{
    display: none;
}

.main-box__heading-line a{
    margin: 5px;
}

.submit-link{
    color: black;
    text-decoration: none
}

.repair-status-link{
    color: black;
    text-decoration: none
}


.heading{
    margin-right: auto ;
}


.detailed-information{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.detailed-information__text{
    position: relative;
    padding: 0;
    margin: 0;
    flex: 1

}

.detailed-information__img{
    width: 40%;
    height: 40%;
    padding: 0;
    margin: 0;
    object-fit: contain

}

.text{
    font-size: 15px;
    padding: 0;
    margin-right: 10px;
    min-width: 40%;
    max-height: 30vh;
    overflow: hidden
}

.scroll{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    font-weight: 500;
}

.scroll__img{
    max-width: 5%;
    order: -1
}


@media (max-width: 700px){
    .detailed-information{
        flex-wrap: wrap;
    }

}

@media (max-width: 500px){
    .detailed-information{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .user-status{
        width: 35%;
    }

    .user-set{
        width: 50%
        
    }

    .tel-botton, .chat-botton, .profile-botton{
        display: none;
    }

    .detailed-information__img{
        align-self: center;
        width: 116%;
        height: 114%;
        padding: 0;
        margin: 0;
    }
    .text{
        max-height: 17vh
    }

    .logo{
        margin: 0;
        padding-left: 20px;
    }
    .user-set{
        justify-content: center;
        border-left: none;
    }

    .border-left{
        display: none;
    }
}

@media (max-width: 325px){
    .user-set{
        width: 53%;
    }


    


}

@media (min-width: 1120px) and (min-height: 535px){
    .menu-botton-list{
        display: none;
    }

    .heading-line-item{
        display: block;
    }

    .center{
        display: inline-block;
        max-width: 1120px;
    }
    body{
        display: flex;
        justify-content: center
    }
}
